---

include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

default:
  tags: [nomad]
  interruptible: true
  timeout: 5

.build:
  image:
    name: moby/buildkit:rootless
    entrypoint: [""]
  stage: build
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
    ARGS:
    BUILDKITD_FLAGS: --oci-worker-no-process-sandbox
    CACHE_IMAGE: $CI_REGISTRY_IMAGE:cache
  before_script:
    - mkdir -p ~/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > ~/.docker/config.json
  script:
    - buildctl-daemonless.sh build
        --frontend dockerfile.v0
        --local context=.
        --local dockerfile=.
        --export-cache type=registry,ref=$CACHE_IMAGE
        --import-cache type=registry,ref=$CACHE_IMAGE
        --output type=image,name=$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA,push=true
        ${ARGS}

build-release:
  variables:
    ARGS: --output type=image,name=$CI_REGISTRY_IMAGE:latest,push=true
  extends: [.build]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
build-test:
  extends: [.build]
  rules:
    - if: $CI_MERGE_REQUEST_IID
