---

include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml

default:
  interruptible: true
  timeout: 5min
  # tags: [nomad]

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

stages:
  - build
  - test

secret_detection:
  stage: build

.build_linux_base:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:10.0
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  cache:
    key:
      files:
        - src/KSeFCli/KSeFCli.csproj
    paths:
      - .nuget/packages
  script:
    - dotnet publish src/KSeFCli/KSeFCli.csproj -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=true -p:EnableCompressionInSingleFile=true -p:InvariantGlobalization=true
    - mv -v src/KSeFCli/bin/Release/net10.0/linux-x64/publish/ksefcli .
    - ldd ksefcli
    - stat ksefcli
    # Run tests.
    - ./test.sh ./ksefcli
  artifacts:
    paths:
      - ksefcli

.build_windows_base:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:10.0
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  cache:
    key:
      files:
        - src/KSeFCli/KSeFCli.csproj
    paths:
      - .nuget/packages
  script:
    - dotnet publish src/KSeFCli/KSeFCli.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:EnableCompressionInSingleFile=true -p:InvariantGlobalization=true
    - mv -v src/KSeFCli/bin/Release/net10.0/win-x64/publish/ksefcli.exe .
    - stat ksefcli.exe
  artifacts:
    paths:
      - ksefcli.exe

linux_build_main:
  extends: [.build_linux_base, .build_main]

linux_build_mr:
  extends: [.build_linux_base, .build_mr]

windows_build_main:
  extends: [.build_windows_base, .build_main]

windows_build_mr:
  extends: [.build_windows_base, .build_mr]

.build_main:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  artifacts:
    expire_in: never

.build_mr:
  rules:
    - if: $CI_MERGE_REQUEST_IID
  artifacts:
    expire_in: 1 week

format_check:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:10.0
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - dotnet format src/KSeFCli -v d --include "$(find src -name *.cs | paste -sd,)" --verify-no-changes
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID
