---

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

default:
  tags: [nomad]
  interruptible: true
  timeout: 5

stages:
  - build
  - release

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  IMAGE_LATEST_TAG: $CI_REGISTRY_IMAGE:latest

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # Build the final image and push it
    - docker build -t $IMAGE_TAG -t $IMAGE_LATEST_TAG .
    - docker push $IMAGE_TAG
    - docker push $IMAGE_LATEST_TAG
    
    # Extract artifact from build stage
    - docker build --target build -t ksefcli-build-stage-for-artifact .
    - mkdir -p bin
    - |
      CONTAINER_ID=$(docker create ksefcli-build-stage-for-artifact)
      docker cp $CONTAINER_ID:/app/publish/KSeFCli bin/KSeFCli
      docker rm $CONTAINER_ID
  artifacts:
    paths:
      - bin/KSeFCli
    expire_in: 1 week
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

release:
  stage: release
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $IMAGE_TAG
    - docker tag $IMAGE_TAG $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
