---

include:
  - template: Jobs/Secret-Detection.gitlab-ci.yml

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID

stages:
  - build
  - test

secret_detection:
  stage: build

.build_base:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:10.0
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  cache:
    key:
      files:
        - src/KSeFCli/KSeFCli.csproj
    paths:
      - .nuget/packages
  script:
    - dotnet publish src/KSeFCli/KSeFCli.csproj -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=true -p:EnableCompressionInSingleFile=true -p:InvariantGlobalization=true
  artifacts:
    paths:
      - "bin/Release/net10.0/linux-x64/publish/ksefcli"

build-main:
  extends: .build_base
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  artifacts:
    expire_in: never

build-mr:
  extends: .build_base
  rules:
    - if: $CI_MERGE_REQUEST_IID
  artifacts:
    expire_in: 1 week

format_check:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:10.0
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  script:
    - dotnet format src/KSeFCli -v d --include "$(find src -name *.cs | paste -sd,)" --verify-no-changes
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_MERGE_REQUEST_IID
